.admin-dashboard-container{
    min-height: 90vh;
    justify-content: center;
    background: #EBEDF5;
}

.admin-dashboard-container .paper{
    width: 1100px;
    padding: 50px 60px;
    background-color: rgb(255, 255, 255);
}

.admin-dashboard-container .title{
    font-size: 25px;
    color: #131A4C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    border-left: 2px solid #131A4C;
    padding-left: 10px;
}

@media only screen and (max-width: 600px){
    .admin-dashboard-container .paper{
        width: 400px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px){
    .admin-dashboard-container .paper{
        width: 570px;
    }
}